<%- include('../layout_header') %>



<div id="logined" style="display:none">
	<span id="username"></span>
	<!-- <a href="javascript:" id="loginout">退出登陆</a> -->
</div>
<a href="/">index</a>

<%- include('../layout_scripts') %>

<script type="text/javascript">

	$.ajax('/islogined',{
		success:function(data){
			if(data){
				$('#logined').show().find('#username').html(data.name)
			}else{
				$('#login').show();
			}
		}
	})

</script>
<%- include('../layout_footer') %>